/* 
    Document   : landmarx
    Created on : Oct 1, 2012, 8:31:41 PM
    Author     : ner0tic
    Description:
        Stylesheet for Landmarx
*/

header {
  height: 60px;
  width: 100%;
  
}
header img {
  height: 50px;
}